.q3{
    align-items: center;
    display: grid;
    background-color: gray;
}
.q3 h1 {
  
  
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    box-shadow: grey 10 10 10;
    border-radius: 10px;
    border : solid
}
.q3 button  {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    background-color: darkseagreen;
}
#rouge{
    background-color: red;
}
#vert{
    background-color: green;
}
.rouge {
    background-color: red;
}
.vert{
    background-color: green;
}